<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Layout 3</title>
  </head>
<style media="screen">

  .gold {
    position:fixed;
    top:100px ;
    right:700px;
  }

.silver {
  margin-top: 600px;
  font-family: arial;
  font-size: 100px;
}

  .border {
    border: 5px solid red;
    margin-left: 500px;
    padding-left: 100px;

}




</style>


  <body>


<div class="gold"> Think more, make more</div>



<div class="silver">Think more, make more Think more, make more Think more, make more Think more, make more</div>



<div class="border">THINK</div>



  </body>
</html>
